.contactsList {
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    .contactsList {
        font-size: 30px;
    }
}

.contactsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.button {
    margin-left: 10px;
}
